body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  background-color: gray;
  color: white;
  height: 100px;
  font-weight: bold;
  font-size: 2.8rem;
  padding: 18px;
}

.button {
  width: 25%;
  color: black;
  border: 1px solid gray;
  font-size: 2.4rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(65, 59, 59);
}

.double {
  width: 50%;
}

.orange {
  background-color: orange;
}

.orange:hover {
  background-color: orangered;
}

.row {
  display: flex;
  height: 100px;
}
